.logo {
          height: 400px;
          width: 100%;
          justify-content: center;
          align-items: center;
          background-color: #7d8ca3;
          
}

.Aligner {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  
}

.Alignerimg{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .logo {
    margin-left: 50px;
    margin-top: 50px;
    width: 33.3%
  }
}