nav {
      height: 120px ;
      background-color: #2F242C ;
      color: white ;
      padding-left: 1.5em ;
      padding-right: 1.5em ;
      padding-bottom: 1em ;
      padding-top: 1em ;
      background-color: #333;
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
       width: 100%; /* Full width */


}

#navDiv {
      text-align: right;
}



