.button {
          background-color: rgb(1, 84, 192);
          color: azure;
          font-family: "Bungee";
          border: none;
          padding: 7px 15px;
          margin-right: 89%;

}
.button:hover {
        background-color: rgb(34, 126, 248);
}

.counter {
          font-family: "Bungee";
          
}

#tweet-text {
  font-family: "Source Sans Pro";
  width: 100%;
  border-bottom: 5px solid rgb(59, 59, 59);
  background-color: transparent;
  outline: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.countButton {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}

.red {
        color: red;
}

.tweet{
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        width: 100%;
        height: 200px;
        border: 2px solid rgb(0, 0, 0);
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-bottom: 1.5em;
        
        

}

.tweet:hover{
  box-shadow: 0 0 10px 5px rgb(1, 97, 126);
}


.tweet header{
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.5em;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        background-color: transparent;
        height: 50px;
        
}
.tweet footer { 
        border: 2px solid black;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        
}
.tweet p {
        padding-bottom: 1.5em;
}

.tweet i:hover{
       color: rgb(255, 115, 0);
}







